project:
  type: book

book:
  title: "Les bonnes pratiques en R"
  author: "Conrad THIOUNN"
  date: "09/12/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - demarrer.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt

editor: visual

